<html>
  <body>
    <div>
      <h2>OpenID Client test</h2>

    </div>
    <div>
      {% if request.user.is_authenticated %}
      {{request.user}}
      <p>Current user: {{ user.first_name }}</p>
      <div>
        <form action="/logout" method="GET">
          {% csrf_token %}
          <input type="submit" value="Logout"/>
        </form>
      </div>
      {% else %}
        <a href="{% url 'oidc_authentication_init' %}">
          Login
        </a>
      {% endif %}
    </div>
  </body>
</html>
